{% extends "base.html" %}

{% load static i18n %}
{% load humanize %}
{% block css %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block seo %}


<title>Boss Keys Estate</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<div class="ltn__utilize-overlay"></div>



<div class="ltn__slider-area ltn__slider-11  ltn__slider-11-slide-item-count-show--- ltn__slider-11-pagination-count-show--- section-bg-1">
        <div class="ltn__slider-11-inner">
            <div class="ltn__slider-11-active">
                {% for product in sliders %}
                <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal ltn__slide-item-3 ltn__slide-item-11">
                    <div class="ltn__slide-item-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 align-self-center">
                                    <div class="slide-item-info">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <div class="slide-video mb-50 d-none">
                                                <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/tlThdr3O5Qo" data-rel="lightcase:myCollection">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                            <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-home"></i></span> Boss Keys Estate</h6>
                                            <h1 class="slide-title animated ">{{product.name}} <br><span>{{product.room}}</span>
                                                {{product.type}}</h1>
                                            <div class="slide-brief animated">
                                                <p>Fırsat Ürün !!!</p>
                                            </div>
                                            <div class="btn-wrapper animated">
                                                <a href="{{product.get_absolute_url}}" class="theme-btn-1 btn btn-effect-1">₺ {{product.price}} | İncele</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item-img">
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- slider-4-pagination -->
            <div class="ltn__slider-11-pagination-count">
                <span class="count"></span>
                <span class="total"></span>
            </div>
            <!-- slider-sticky-icon -->
            <div class="slider-sticky-icon-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- slider-4-img-slide-arrow -->
            <div class="ltn__slider-11-img-slide-arrow">
                <div class="ltn__slider-11-img-slide-arrow-inner">
                    <div class="ltn__slider-11-img-slide-arrow-active">
                        {% for product in sliders %}
                        <div class="image-slide-item">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="Flower Image">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- slider-4-slide-item-count -->
                    <div class="ltn__slider-11-slide-item-count">
                        <span class="count"></span>
                        <span class="total"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>



<br>
<br>
<div class="ltn__car-dealer-form-area mt--65 mt-120 pb-115---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__car-dealer-form-tab">
                        <div class="ltn__tab-menu  text-uppercase d-none">
                            <div class="nav">
                                <a class="active show" data-bs-toggle="tab" href="#ltn__form_tab_1_1"><i class="fas fa-car"></i>Find A Car</a>
                                <a data-bs-toggle="tab" href="#ltn__form_tab_1_2" class=""><i class="far fa-user"></i>Get a Dealer</a>
                            </div>
                        </div>
                        <div class="tab-content bg-white box-shadow-1 ltn__border position-relative pb-10">
                            <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                                <div class="car-dealer-form-inner">
                                    <form method="get" action="/boss-keys-estate/filter/" class="ltn__car-dealer-form-box row">
                                        {% csrf_token %}
                                        <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-4 col-md-3">
                                            <select name="city" class="nice-select">
                                                {% for product in citys %}
                                                <option  value="{{product.name}}">{{product.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-4 col-md-3">
                                            <select name="region" class="nice-select">
                                                {% for product in regions %}
                                                <option  value="{{product.name}}">{{product.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-4 col-md-3">
                                            <select name="type" class="nice-select">
                                                {% for product in types %}
                                                <option value="{{product.name}}">{{product.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-4 col-md-3">
                                              <select name="model" class="nice-select">
                                                  {% for model in categorys %}
                                                    <option value="{{model.name}}">{{model.name}}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6">
                                            <div class="btn-wrapper text-center mt-0">
                                                <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Detaylı Ara</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Gayrimenkul</h6>
                        <h1 class="section-title">Son Eklenen Taşınmazlarımız</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__product-slider-item-three-active--- slick-arrow-1">
                {% for product in products %}
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                        <div class="product-img">
                            <a href="{{product.get_absolute_url}}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="#"></a>
                            <div class="real-estate-agent">
                                <div class="agent-img">
                                    <a href="{{product.get_absolute_url}}"><img width="300" height="50" src="{% if product.agent.image %}{{ product.agent.image.url }}{% else %}{% endif %}" alt="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badg">{{product.type}}</li>
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h2>
                            <div class="product-img-location">
                                <ul>
                                    <li>
                                        <a href="locations.html"><i class="flaticon-pin"></i> {{product.adress}}</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                <li><span>{{product.bedrooms}} </span>
                                    Y.Odası
                                </li>
                                <li><span>{{product.bathrooms}} </span>
                                    Banyo
                                </li>
                                <li><span>{{product.m2}} </span>
                                    Square Ft
                                </li>
                            </ul>
                        </div>
                        <div class="product-info-bottom">
                            <div class="product-price">
                                <span>₺  {{product.price | intcomma  }}<label></label></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
<div class="ltn__about-us-area pt-120 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'boss.png' %}" alt="About Us Image">

                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Hakkımızda</h6>
                            <h1 class="section-title">Sektöründe Lider
                                Bölgenin Uzmanı<span>.</span></h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="flaticon-home-2"></i>
                                Satış
                            </li>
                            <li>
                                <i class="flaticon-mountain"></i>
                                Kiralama
                            </li>
                            <li>
                                <i class="flaticon-heart"></i>
                                Yaşam Dostu
                            </li>
                            <li>
                                <i class="flaticon-secure"></i>
                                Müşteri Memnuniyeti
                            </li>
                        </ul>
                        <div class="ltn__callout bg-overlay-theme-05  mt-30">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
                        </div>
                        <div class="btn-wrapper animated">
                            <a href="/boss-keys-estate/about/" class="theme-btn-1 btn btn-effect-1">Hakkımızda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="ltn__counterup-area section-bg-1 pt-120 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-select"></i>
                        </div>
                        <h1><span class="counter">560</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Danışmanlık</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-office"></i>
                        </div>
                        <h1><span class="counter">197</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Kiralama</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-excavator"></i>
                        </div>
                        <h1><span class="counter">268</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Taahhüt</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-armchair"></i>
                        </div>
                        <h1><span class="counter">340</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Satış</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Müşteri</h6>
                        <h1 class="section-title">Dönüşlermiz.</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
                {% for comment in comments %}
                <div class="col-lg-4">
                    <div class="ltn__testimonial-item ltn__testimonial-item-7">
                        <div class="ltn__testimoni-info">
                            <p><i class="flaticon-left-quote-1"></i>
                              {{comment.comment}}</p>
                            <div class="ltn__testimoni-info-inner">
                                <div class="ltn__testimoni-img">
                                    <img src="{{comment.image.url}}" alt="#">
                                </div>
                                <div class="ltn__testimoni-name-designation">
                                    <h5>{{comment.name}}</h5>
                                    <label>{{comment.postion}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!--  -->
            </div>
        </div>
    </div>
<div class="ltn__blog-area pt-115--- pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Değelerimiz</h6>
                        <h1 class="section-title">Uzman Ekibimiz</h1>
                    </div>
                </div>
            </div>
            <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                {% for agent in agents %}
                <div class="col-lg-12">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <a href="blog-details.html"><img src="{{agent.image.url}}" alt="#"></a>
                        </div>
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>{{agent.name}}</a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Uzman </a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-phone"></i>Uzman | {{agent.phone}}</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title"><a href="blog-details.html">Boss Keys Estate.</a></h3>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>








{% endblock %}




{% block jss %}


<script>
  var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

{% endblock %}